<div class="jumbotron" id="about-jumbotron">
	<div class="row-fluid">
		<div class="col-xs-7"></div>
		<div class="col-xs-5">
			<div class="container-fluid">
				<h1>My life in two paragraphs:</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-1"></div>
		<div class="col-xs-7">
			<div class="container-fluid">
				<p>From preschool to first grade, my family lived in a small house in San Mateo. The backyard was essentially divided into two sections: a grassy area with some citrus trees, and a sizeable island of concrete - painted a horrendous shade of red by the house’s previous owners. My little sister and I spent countless hours in that yard, but we always had to be careful when playing on the concrete, because right in the center of the island there was a little hole, maybe about 1.5” in diameter. Whether the hole had been put in for drainage reasons, structural reasons, or even as a stand for an outdoor umbrella, it had long since ceased to be useful to anyone. To this day, I remember the day when my sister was playing with a lemon she had found, and, foolishly, started playing too close to the hole. Of course, she managed to drop the lemon into it, which made her cry, but intrigued me. I went over and tried to pull the lemon out with my fingers, but there wasn’t enough space between the walls of the hole and the lemon for me to get a solid grip. Next, I got a couple twigs and tried to chopstick the lemon out, but it was too heavy and the twigs ended up snapping. Then I had an epiphany: lemons float! I got out the hose, flooded the hole, and retrieved the lemon for my sister, who had already forgotten about it and was happily playing with something else.</p>
				<p>Senior year of high school I was one of the captains of our track team. One day, as part of my “captain’s duties,” my coach told me to move an old folding table that had been gathering dust in the back of the track shed, so I recruited one of my fellow captains/best friends to help me. As a quick sidebar, our coach has gained state-wide notoriety for being a hardass because, well, he’s a hardass (but he gets results,) so knowing how to have fun while still getting work done is a key component of maintain sanity as one of his athletes. Anyways, once we had gotten the table down to the dumpster next to the track, we realized that we might as well have a little fun with it before it was thrown away. The dumpster was bordered by a steep hill, matted with California’s trademark golden brown grass, so we hiked up to the top with the table, flipped it so that the table side was facing down, and unfolded the legs. Then, my friend mounted it like a sled, holding on to its front legs for support. I grabbed the back legs of the table, prepared myself, and started shoving it down the hill at a full sprint. I can only imagine the exhilaration my friend must have felt, flying down that hill on a table. I can also only imagine how the dirt felt in his mouth after the “sled” hit a rough patch, and bucked him face-first into the ground.</p>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="container-fluid left-border">
				<h2>The Lowdown:</h2>
				<ul>
					<li><p class="lead">Majoring in Computer Science @ Northeastern University</p></li>
					<li><p class="lead">Originally from the San Francisco Bay Area</p></li>
					<li><p class="lead">Terrible swimmer</p></li>
					<li><p class="lead">5th grade spelling bee champion</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>