<div class="jumbotron" id="about-jumbotron">
	<div class="row-fluid">
		<div class="col-xs-7"></div>
		<div class="col-xs-5">
			<div class="container-fluid">
				<h1>My life in paragraphs:</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-1"></div>
		<div class="col-xs-7">
			<div class="container-fluid">
				<p></p>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="container-fluid left-border">
				<h2>The Lowdown:</h2>
				<ul>
					<li><p class="lead">Majoring in Computer Science @ Northeastern University</p></li>
					<li><p class="lead">Originally from the San Francisco Bay Area</p></li>
					<li><p class="lead">Terrible swimmer</p></li>
					<li><p class="lead">5th grade spelling bee champion</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>