<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-3"></div>
		<div class="col-xs-6 error-display centered-text">
			<h1>Something went wrong.</h1>
			<h3>Yeah I should fix that...</h2>
		</div>
	</div>
</div>