<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div id="footer">
			<div class="fluid-container centered-text">
				Painstakingly crafted in Boston | Contact at <a href="mailto:cameron.csun@gmail.com">cameron.csun@gmail.com</a>
			</div>
		</div>
	</div>
</div>