<nav class="navbar-default" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav nav-justified">
			<li><a href="/about">About</a></li>
			<li><a href="/"><img src="../images/logo.png"></a></li>
			<li><a href="/work">Work</a></li>
		</ul>
	</div>
</nav>
