<div class="jumbotron" id="main-jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6 centered-text">
				<h1>Hi, my name is Cameron.</h1>
				<h3><%= @description %></h3>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>
</div>