<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>CS</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css"  media="screen"/>
	<!-- Custom Styles -->
	<link rel="stylesheet" href="css/custom.css"  type="text/css"/>
</head>
<body>
	<div id="wrap">
		<%= erb :header %>
		<%= yield %>
	</div>
	<%= erb :footer %>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>