/* Footer settings */
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	margin-bottom: -30px;
	padding-bottom: 60px;
}

#footer {
	height: 30px;
}
/* end Footer settings */

.centered-text {
	text-align: center;
}

.navbar-nav.nav-justified > li{
	float:none;
}

.repo-row {
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-left: 1px solid #ccc;
}

#main-jumbotron {
	height: 400px;

	background: url(../images/index.jpg); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
}

#about-jumbotron {
	height: 400px;

	background: url(../images/about.jpg); 
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover; 
}
