.centered-text {
	text-align: center;
}

.navbar-nav.nav-justified > li{
	float:none;
}

#main-jumbotron {
	height: 400px;

	background: url(../images/test-index.jpg); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
}