html, body{
	height: 100%;
}

body {
	background: #EEEFF4;
}

#wrap {
	min-height: 100%;
	margin-bottom: -30px;
	padding-bottom: 45px;
}

#footer {
	border-top: 1px dashed #6475A6;
	padding-top: 5px;
	height: 30px;
}

.navbar-default {
	background: #EEEFF4;
	border-bottom: 2px solid #6475A6;
}

.navbar-nav.nav-justified > li{
	float:none;
}

.navbar-nav > li > a {
	font-size: 20px;
}

#logo {
	font-size: 32px;
}

#work-header {
	margin-top:30px;
	margin-bottom:20px;
}

.centered-text {
	text-align: center;
}

.repo-row {
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.left-border {
	border-left: 1px solid #ccc;
}

#main-jumbotron {
	height: 600px;
	margin-bottom: 0;

	padding-top: 150px;

	background: url(../images/index.jpg); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
}

#about-jumbotron {
	height: 400px;

	background: url(../images/about.jpg); 
	background-repeat: no-repeat;
	background-position: 50% 27%;
	background-size: cover; 
	border-bottom: 3px solid #6475A6;
}

/* For logo icon -----*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-r1fvuh');
	src:url('../fonts/icomoon.eot?#iefix-r1fvuh') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-r1fvuh') format('woff'),
		url('../fonts/icomoon.ttf?-r1fvuh') format('truetype'),
		url('../fonts/icomoon.svg?-r1fvuh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e600";
}
